:root {
  font-family: "Inconsolata";
  line-height: 1.5;
  font-weight: 400;
}

p {
  margin: 0;
}

a {
  font-weight: 500;
  color: white;
  text-decoration: none;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: space-between;
  min-width: 320px;
  min-height: 100vh;
  background-color: #ef9c66;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #78ABA8;
  color: #fff;
  padding: 15px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .navigation,
  .contacts {
    ul {
      list-style-type: none;
      overflow: hidden;
      margin: 0;
      li {
        float: left;

        a {
          padding: 16px;
        }
      }
    }
  }
}

section {
  padding: 60px 0;
}
.skills-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.work-section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 300px));
  grid-template-rows: repeat(auto-fill);
  row-gap: 50px;
  column-gap: 30px;
  justify-content: center;
  .card-item {
    border: 1px solid white;
    padding: 10px;
    .tags-section {
      margin: 5px;
      display: flex;
      column-gap: 10px;
      justify-content: center;
      .card-tag {
        max-width: 70px;
        border: 1px solid black;
        border-radius: 7px;
        background-color: #78ABA8;
        color: white;
        padding: 0 5px;
      }
    }
  }
}

.about-section {
  display: flex;
  div {
    display: flex;
    align-items: center;
    column-gap: 100px;
  }
  img {
    border-radius: 100px;
    width: 200px;
    height: 200px;
    box-shadow: 0 0 12px 8px #ffffff inset;
  }
  p {
    text-align: left;

  }
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: white;
}

h2 {
  text-decoration: underline;
  text-decoration-color: white;
}

.highlight-word {
  font-weight: bold;
  color: white;
}

/* button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

@media (max-width: 600px) {
  .work-section {
    grid-template-columns: repeat(1, minmax(150px, 300px));
    grid-template-rows: repeat(auto-fill);
  }

  .skills-section {
    display: grid;
    grid-template-columns: repeat(2, max(100px));
    grid-template-rows: repeat(auto-fill);
    justify-content: space-around;
    border-color: black;
    border-radius: 5px;
  }

  .about-section {
    display: block;
    div {
      display: block;
    }
  }
}
