:root {
  font-family: "Inconsolata";
  line-height: 1.5;
  font-weight: 400;
}

p {
  margin: 0;
}

a {
  font-weight: 500;
  color: white;
  text-decoration: none;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: space-between;
  min-width: 320px;
  min-height: 100vh;
  background-color: #ef9c66;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #78aba8;
  color: #fff;
  padding: 15px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  .topnav {
    display: none;
    a {
      color: white;
      text-decoration: none;
      display: block;
    }

    a.icon {
      background: none;
      display: block;
      right: 0;
      top: 0;
    }
  }

  .navigation,
  .contacts {
    ul {
      list-style-type: none;
      overflow: hidden;
      margin: 0;
      padding: 0;
      li {
        float: left;
        a {
          padding: 16px;
        }
      }
    }
  }
  .contacts {
    ul {
      li {
        width: 45px;
      }
    }
  }
}

section {
  padding: 60px 0;
}
.skills-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  p {
    color: black;
  }
}

.work-section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 300px));
  grid-template-rows: repeat(auto-fill);
  row-gap: 50px;
  column-gap: 30px;
  justify-content: center;
  .card-item {
    border: 1px solid white;
    padding: 10px;
    .tags-section {
      margin: 5px;
      display: flex;
      column-gap: 10px;
      justify-content: center;
      .card-tag {
        max-width: 70px;
        border: 1px solid black;
        border-radius: 7px;
        background-color: #78aba8;
        color: white;
        padding: 0 5px;
      }

    }
  }
  img {
    border-radius: 5px;
  }
}

.about-section {
  display: flex;
  div {
    display: flex;
    align-items: center;
    column-gap: 100px;
  }
  img {
    border-radius: 100px;
    width: 200px;
    height: 200px;
    box-shadow: 0 0 12px 8px #ffffff inset;
  }
  p {
    text-align: left;
  }
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: white;
}

h2 {
  text-decoration: underline;
  text-decoration-color: white;
}

.highlight-word {
  font-weight: bold;
  color: white;
}

@media (max-width: 600px) {
  .navigation {
    display: none;
  }
  nav {
    width: 95%;
    p {
      max-width: 120px;
    }
    .topnav {
      display: block;
    }
    #myLinks {
      min-width: 80px;
      font-size: 15px;
      display: none;
    }
  }
  h1 {
    font-size: 2.2em;
    line-height: 1;
    color: white;
  }

  .work-section {
    grid-template-columns: repeat(1, minmax(150px, 300px));
    grid-template-rows: repeat(auto-fill);
  }

  .skills-section {
    display: grid;
    grid-template-columns: repeat(3, max(100px));
    /* grid-template-rows: repeat(auto-fill); */
    justify-content: space-around;
    border-color: black;
    border-radius: 5px;
  }

  .about-section {
    display: block;
    div {
      display: block;
    }
  }
}

@media (max-width: 391px) {
  nav {
    .contacts {
      ul {
        li {
          width: 35px;
          a svg {
            width: 23px;
          }
        }
      }
    }
  }
  section {
    padding: 0;
    
  }
  .title-section{
    padding-top: 60px;
  min-height: 195px;
    }
}
